:root{
    --cor-principal: #ffffff;
    --cor-secundaria: #c0c0c0;
    --botao-destaque: #00030c;
    --cor-de-fundo: #4A04A3;
}


*{
      margin: 0;
     padding: 0;
}
body{
color: var(--cor-principal);
font-weight: 400px;
font-size: 16px;

}


.principal{
    background-image: url("./img/images\ \(13\).jpeg");
    background-size: cover ;
    background-repeat: no-repeat;

}
.container{
   height: 100;
   display: grid ;
   grid-template-columns: 50% 50%;



}
.container--botao{
   background-color: var(--botao-destaque);
   color:#1d55ff var (--cor-principal);
   padding: 1em;
   border-radius: 5px;
   text-transform: none;
   display: block;

}